# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Databases
*.db
*.sqlite3

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# Arquivo que gerou a prova da inconsistencia no cliente
prova_do_crime.py